<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ProjectInfoFileName" value="Project.info" />
		<add key="ProjectDebugBuildFolder" value="bin\Debug\netcoreapp2.0" />
		<add key="ScenesFolder" value="Scenes" />
		<add key="AssetsFolder" value="Assets" />
	</appSettings>
</configuration>