<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ProjectInfoFileName" value="Project.info" />
		<add key="SolutionDebugBuildFolder" value="bin\Debug\netstandard2.0\win10-x64" />
		<add key="ScenesFolder" value="Project\Scenes" />
		<add key="AssetsFolder" value="Project\Assets" />
	</appSettings>
</configuration>